@media (max-width: 480px) {
	.form {
		width: 100%;
		max-width: 400px;
	}

	.form h1 {
		font-size: 24px;
		margin-bottom: 2vh;
	}

	.form input,
	.form select {
		padding: 10px;
		font-size: 14px;
	}

	.form button {
		padding: 10px;
		font-size: 16px;
	}

	.form .footerContent {
		font-size: 12px;
	}

	.toggle-password-icon {
		width: 20px;
		height: 20px;
	}

	.chef-hat {
		width: 30px;
		top: 5px;
		right: 5px;
	}

	.background-text {
		font-size: 1.5rem;
		padding: 10px;
	}
}

@media (max-width: 768px) {
	.chef-hat {
		width: 40px;
		top: 8px;
		right: 8px;
	}
}

.container {
	height: 100vh;
	width: 100%;
	background-image: url('../assets/Chefs.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
	overflow: hidden;
}

.form {
	background-color: #ffffff;
	padding: 7vh;
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	align-items: center;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1;
	width: 100%;
	max-width: 400px;
}

.chef-hat {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 50px;
	height: auto;
	max-width: 10%;
	z-index: 1;
}

.container_inputs {
	position: relative;
	margin-bottom: 5px;
	width: 100%;
}

.form h1 {
	color: #003366;
	font-size: 30px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 4vh;
}

label {
	color: #003366;
	font-weight: bold;
	margin-bottom: 0.7vh;
}

.form input {
	display: flex;
	border: 3px solid #003366;
	border-radius: 12px;
	padding: 8px 40px 8px 5px;
	background-repeat: no-repeat;
	margin-bottom: 0.8vh;
	background-size: 25px 25px;
	box-sizing: border-box;
	background-position: right 10px center;
	color: #003366;
	font-size: 16px;
	width: 100%;
}

.form input::placeholder {
	color: rgba(0, 51, 102, 0.3);
}

.form input:focus {
	background-color: rgba(0, 110, 223, 0.14);
}

.form select {
	display: flex;
	border: 3px solid #003366;
	border-radius: 12px;
	padding: 8px 40px 8px 5px;
	background-repeat: no-repeat;
	margin-bottom: 0.8vh;
	background-color: #eef7ff;
	font-size: 16px;
	color: #003366;
	background-position: calc(100% - 12px) center;
	background-size: 25px 25px;
	box-sizing: border-box;
	background-image: url('../assets/ChevronDownIcon.svg');
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
}

.form select::placeholder {
	color: rgba(0, 51, 102, 0.3);
}

.form select:focus {
	background-color: rgba(0, 110, 223, 0.14);
}

.form textarea {
	display: flex;
	border: 3px solid #003366;
	border-radius: 12px;
	padding: 8px 40px 8px 5px;
	background-repeat: no-repeat;
	margin-bottom: 0.8vh;
	background-size: 25px 25px;
	box-sizing: border-box;
	background-position: right 10px center;
	color: #003366;
	font-size: 16px;
	width: 100%;
}

.form textarea::placeholder {
	color: rgba(0, 51, 102, 0.3);
}

.form textarea:focus {
	background-color: rgba(0, 110, 223, 0.14);
}

.form button {
	display: flex;
	justify-content: center;
	padding: 1.2vh 0;
	border-radius: 12px;
	border: 3px solid #003366;
	width: 100%;
	background-color: #003366;
	color: #eef7ff;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.form button:hover {
	background-color: #eef7ff;
	color: #003366;
	transition: 0.3s ease-out;
}

.footerContent {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.form .error-message {
	visibility: hidden;
	height: 20px;
	color: red;
	font-size: 13px;
	padding-left: 5px;
}

.form .error-message.visible {
	visibility: visible;
}

.form input[type='email'] {
	background-image: url('../assets/MentionIcon.svg');
}

.form input[name='rut'] {
	background-image: url('../assets/IdentityCardIcon.svg');
}

.form input[name='nombreCompleto'] {
	background-image: url('../assets/PersonIcon.svg');
}

.toggle-password-icon {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.toggle-password-icon img {
	width: 100%;
	height: 100%;
}

.error-box {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
	padding: 10px 15px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.modal {
	background-color: #ffffff;
	padding: 7vh;
	display: flex;
	flex-direction: column;
	border-radius: 24px;
	align-items: center;
	position: relative;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: auto;
	text-align: center;
	z-index: 1000;
}

.modal h3 {
	color: #003366;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.modal button {
	display: flex;
	justify-content: center;
	padding: 1.2vh 0;
	border-radius: 12px;
	border: 3px solid #003366;
	width: 100%;
	background-color: #003366;
	color: #eef7ff;
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
	cursor: pointer;
}

.modal button:hover {
	background-color: #eef7ff;
	color: #003366;
	transition: 0.3s ease-out;
}

.stock-info-container {
	background-color: #f0f0f0;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 12px;
	margin-top: 20px;
	max-width: 400px;
	width: 100%;
}

.stock-info-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close-button {
	background: none;
	border: none;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: #003366;
}
