.main-content {
  box-sizing: border-box;
}

.home-background {
  width: 100%;
  box-sizing: border-box;
  background-image: url('../assets/Background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
