.hamburger-btn:hover {
    background: #002651; /* un color fijo para el hover */
}

.hamburger-btn svg {
    vertical-align: middle;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-left: auto; /* Esto empujará la lista a la derecha */
}

.navbar li {
    display: flex;
    align-items: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 3px;
}

.navbar a:hover {
    background-color: #002651;
}

.navbar a.active {
    font-weight: bold;
    background-color: #eef7ff;
    color: #002651;
}
