/* Estilos generales */
.product-page {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilos para el campo de búsqueda */
.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para el listado de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h2 {
    font-size: 18px;
    color: #5bc0de;  /* Azul claro */
    margin: 10px 0;
}

.product-card p {
    color: #666;
    font-size: 14px;
    margin: 5px 0;
}

/* Estilos para el mensaje de error o vacío */
.product-list p {
    color: #ff0000;
    text-align: center;
}

/* Modal de detalles del producto */
.product-detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    color: #5bc0de;  /* Azul claro */
    font-size: 22px;
    margin-bottom: 15px;
}

.modal-content p {
    color: #444;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #31a7c7;  /* Tono más oscuro de azul claro */
}

button:focus {
    outline: none;
}

/* Estilo para la etiqueta de Cantidad de Stock */
.stock-label {
    font-weight: bold;
    color: #000; /* negro */
}

/* Estilo para el valor de Cantidad de Stock en caso de ser menor o igual que la mínima */
.stock-value {
    font-weight: bold;
}
.stock-value-low {
    color: red;
}
.stock-value-high {
    color: green;
}

/* Estilo para la línea de Cantidad Mínima */
.min-line {
    color: grey;
}

.min-label {
    font-weight: normal;
    color: grey;
}

.min-value {
    font-weight: normal;
    color: grey;
}