.users-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.users-table-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.users-top-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.users-title-table {
    color: #003366;
    margin: 0;
}

.users-filter-actions {
    display: flex;
    gap: 10px;
}

.users-filter-actions button {
    background: rgba(255, 255, 255, 0.87);
    border: none;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.users-delete-user-button {
    margin: 0;
}

@media (max-width: 767px) {
    .users-title-table {
        margin: 0;
    }
    .users-top-table {
        flex-direction: column;
        gap: 10px;
    }

    .users-filter-actions {
        margin-bottom: 10px;
    }

    .users-table-container {
        margin: 0;
        width: 352px;
        height: 500px;
    }

    .popup {
        width: 350px;
        height: 600px;
    }

    .popup .form {
        padding: 20px;
    }

    .popup .close {
        margin-right: 0;
    }

    .popup .options-class {
        width: 10px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
